.mainorder_container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order_list_container {
  margin-top: 10px;
  padding: 0px;
  background-color: rgb(65, 60, 60, 0.5);
  box-shadow: 2px 2px 5px 5px #888888;
  border-radius: 5px;
}

.orderItems {
  list-style: none;
  margin: 0px 15px;
}
.order_container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.order_header {
  width: 150px;
  display: inline-block;
  padding: 5px;
  background-color: #be521f;
  border-radius: 5px;
}
.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_name {
  margin-top: 10px;
}

.orderres_name,
.orderres_address,
.orderres_date {
  color: white;
  text-align: center;
}
