#container{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:0px 20px;
    margin-top:60px;
}

#frgtpasswordform{
    color: white;
    width: auto;
    background-color: rgb(65, 60, 60, 0.5);
    box-shadow: 5px 5px 5px 5px #888888;
    width: 400px;
    padding: 15px;
}
#email_label{
    margin-top: 20px;  
    font-weight: bold; 
}
#email_input{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
    margin-top: 20px;  
}
#forgotbtn{
    width: 100%;
    margin: 25px 0px;
    border-radius: 10px;
    background-color: #be521f;
    padding: 10px;
    border: none;
    color: white;
}